name: Documentation build

on: push

permissions:
  actions: read
  contents: read

jobs:
  test:
    name: Build docs
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Setup Dart
      uses: dart-lang/setup-dart@v1.7.1

    - name: Install dependencies
      run: dart pub get

    - name: Build documentation
      run: dart doc .

    - name: Upload documentation
      uses: actions/upload-artifact@v5
      with:
        name: docs
        path: doc/api
